@{
    ViewBag.Title = "About";
}

<h2>Is Admin</h2>
@ViewBag.IsAdmin


<h2>Claims</h2>
@foreach (var claim in (User as System.Security.Claims.ClaimsPrincipal).Claims)
{
    <strong>@claim.Type</strong>
    <pre>@claim.Value</pre>
}
